<h3>Update Team</h3>
    <form id="updateTeam" action="/Team/UpdateTeam/:{{Abbreviation}}" method="POST">
        Abbreviation: {{Abbreviation}} <br>
        Name: <input type="text" name="New_Name"> <br>
        City: <input type="text" name="New_City"> <br>
        State: <input type="text" name="New_State"> <br>
        Country: <input type = "text" name="New_Country"> <br>
        Stadium: <input type="text" name="New_Stadium"> <br>
        <input type="submit" value="Submit">
    </form>

