<h3>Update Coach Position</h3>
    <form id="updateCoachPosition" action="/Position/UpdateCoachPosition/" method="POST">
    	  ID Number: <input type="text" name="ID_Update"><br>
        Position: <input type="text" name="New_Position"><br>
		<input type="submit" value="Submit">
    </form>
